.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: var(--border);
  z-index: 99;
  color: var(--surface-color);
  background-color: var(--surface-background);
  transition: var(--transition);

  &__container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    & > span {
      font-size: 1.125rem;
      font-weight: 700;
      color: var(--primary-500);
    }
  }

  .nav {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: fixed;
    top: var(--header-height);
    left: -100%;
    padding: 0 1rem;
    color: var(--surface-color);
    background-color: var(--surface-background);

    &__menu {
      list-style-type: none;
    }

    &__item {
      display: block;
    }

    &__link {
      height: 2.5rem;
      padding: 0 1rem;
      border-radius: var(--border-radius);
      opacity: 0.5;
      user-select: none;
      display: flex;
      align-items: center;
      transition: all 0.025s linear;

      &:hover {
        opacity: 0.75;
      }

      &.active {
        opacity: 1;
        background-color: var(--gray-100);
      }

      & > svg {
        margin-right: 1rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &--menu .nav {
      position: fixed;
      left: 0;
    }
  }

  @media screen and (min-width: 768px) {
    &__container {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .menu-btn {
      display: none;
    }

    .nav {
      width: auto;
      height: auto;
      padding: 0;
      position: static;

      &__item {
        display: inline-block;
      }

      &__link {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        opacity: 0.5;
        background-color: transparent;

        &:hover {
          opacity: 0.75;
        }

        &.active {
          opacity: 1;
          color: var(--primary-500);
          background-color: transparent;
        }

        & > svg {
          display: none;
        }
      }
    }
  }
}
