.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
  background-color: var(--primary-500);
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 100%;
  }

  & > svg {
    width: 50%;
    fill: currentColor;
  }
}
